body{
    background-color: darkslategrey;
    box-sizing: border-box;
}
.topnav a{
text-decoration: none;
float: left;
text-align: center;
color: aliceblue;
padding: 10px 10px;
text-transform: uppercase;
}
.topnav .search{
    float:right;   
}
.image{
    width: 210px;
    height:300PX;
    padding:15px 15px;
    float: left;
    align-content: center;

}
.complete{
    display: flexbox;

}
.content{
    background-color: rgb(8, 21, 45);
    border-radius: 14px;
    padding: 15px;
    padding-right: 30px 30px;
    text-align: center;
    width: 237px;
    height: 359px;
    float: left;
     margin: 0 10px;

}
h3{
    color: aliceblue;
}
form{
    width: 200px;
    height: 43px;
    border-radius: 12px;
    display: flex;
    
}
input{
    width: 100%;
    height: 100%;
    all: unset;
    font: 15px system-ui;
    color: aliceblue;
}